# Complete SQL Guide: Zero to Token Generation Expert

**Perfect for absolute beginners!** This notebook takes you from knowing nothing about SQL to writing complex procedures like `mobile_bearer_token_get.sql`.

**Learning Path:**
1. Basic SQL commands
2. Variables and data types
3. Decision making (IF statements)
4. Loops (WHILE)
5. Random number generation
6. Working with tables
7. Creating procedures
8. Building the token generation procedure

**Start here even if you've never seen SQL before!**

## Lesson 1: Your First SQL Commands

SQL is like talking to a database. Let's start with the most basic command: SELECT

In [ ]:
-- This is a comment (notes for humans, computer ignores it)
-- Your first SQL command - show some text
SELECT 'Hello, I am learning SQL!' AS MyMessage;

-- Show numbers
SELECT 42 AS MyFavoriteNumber;

-- Show multiple things
SELECT 
    'John' AS FirstName,
    'Doe' AS LastName,
    25 AS Age;

-- Show current date and time
SELECT GETDATE() AS RightNow;

## Lesson 2: Variables - Storing Information

Variables are like boxes where you store information. You can put things in and take them out later.

In [ ]:
-- Create a variable (a box) to store text
DECLARE @MyName VARCHAR(50);

-- Put something in the box
SET @MyName = 'Alice';

-- Show what's in the box
SELECT @MyName AS StoredName;

-- Different types of boxes for different types of information
DECLARE @Age INT = 30;                    -- Whole numbers
DECLARE @Salary DECIMAL(10,2) = 50000.75; -- Numbers with decimals
DECLARE @IsMarried BIT = 1;               -- Yes/No (1=yes, 0=no)
DECLARE @BirthDate DATE = '1993-05-15';   -- Dates

-- Show everything
SELECT 
    @MyName AS Name,
    @Age AS Age,
    @Salary AS Salary,
    @IsMarried AS IsMarried,
    @BirthDate AS BirthDate;

## Lesson 3: Basic Math and Text Operations

Learn to do calculations and work with text.

In [ ]:
-- Basic math operations
SELECT 
    5 + 3 AS Addition,
    10 - 4 AS Subtraction,
    6 * 7 AS Multiplication,
    20 / 4 AS Division,
    17 % 5 AS Remainder;  -- 17 รท 5 = 3 remainder 2

-- Working with text
DECLARE @FirstName VARCHAR(20) = 'John';
DECLARE @LastName VARCHAR(20) = 'Smith';

-- Join text together
SELECT 
    @FirstName + ' ' + @LastName AS FullName,
    'Hello ' + @FirstName + '!' AS Greeting;

-- Useful text functions
SELECT 
    LEN(@FirstName) AS NameLength,
    UPPER(@FirstName) AS Uppercase,
    LOWER(@FirstName) AS Lowercase,
    SUBSTRING(@FirstName, 1, 2) AS FirstTwoLetters;

## Lesson 4: Making Decisions with IF

Teach the computer to make decisions based on conditions.

In [ ]:
-- Simple decision
DECLARE @Age INT = 25;

IF @Age >= 18
BEGIN
    SELECT 'You can vote!' AS Message;
END
ELSE
BEGIN
    SELECT 'Too young to vote' AS Message;
END

-- Multiple conditions
DECLARE @Temperature INT = 75;
DECLARE @Weather VARCHAR(20);

IF @Temperature > 80
    SET @Weather = 'Hot';
ELSE IF @Temperature > 60
    SET @Weather = 'Warm';
ELSE IF @Temperature > 40
    SET @Weather = 'Cool';
ELSE
    SET @Weather = 'Cold';

SELECT @Temperature AS Temp, @Weather AS WeatherDescription;

-- Check if something is empty
DECLARE @UserInput VARCHAR(50) = '';

IF @UserInput IS NULL OR @UserInput = ''
    SELECT 'Please enter something!' AS Message;
ELSE
    SELECT 'You entered: ' + @UserInput AS Message;

## Lesson 5: Repeating Actions with WHILE Loops

Make the computer repeat actions automatically.

In [ ]:
-- Count from 1 to 5
DECLARE @Counter INT = 1;

WHILE @Counter <= 5
BEGIN
    SELECT @Counter AS Number;
    SET @Counter = @Counter + 1;  -- IMPORTANT: Always increase the counter!
END

-- Build text by repeating
DECLARE @Result VARCHAR(100) = '';
DECLARE @i INT = 1;

WHILE @i <= 4
BEGIN
    SET @Result = @Result + 'Step' + CAST(@i AS VARCHAR(10)) + ' ';
    SET @i = @i + 1;
END

SELECT @Result AS BuildingText;

-- Create a list of numbers
DECLARE @NumberList VARCHAR(100) = '';
DECLARE @Num INT = 1;

WHILE @Num <= 10
BEGIN
    IF @Num = 1
        SET @NumberList = CAST(@Num AS VARCHAR(10));
    ELSE
        SET @NumberList = @NumberList + ', ' + CAST(@Num AS VARCHAR(10));
    
    SET @Num = @Num + 1;
END

SELECT @NumberList AS Numbers1to10;

## Lesson 6: Random Numbers and Characters

This is crucial for token generation! Learn to create random things.

In [ ]:
-- Generate random unique IDs
SELECT NEWID() AS RandomID;

-- Convert to numbers
SELECT 
    CHECKSUM(NEWID()) AS RandomNumber,
    ABS(CHECKSUM(NEWID())) AS PositiveNumber;

-- Get numbers in a specific range (0-9)
SELECT 
    ABS(CHECKSUM(NEWID())) % 10 AS Digit1,
    ABS(CHECKSUM(NEWID())) % 10 AS Digit2,
    ABS(CHECKSUM(NEWID())) % 10 AS Digit3;

-- Pick random characters
DECLARE @AllChars VARCHAR(62) = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';

-- Pick one random character
DECLARE @RandomPos INT = ABS(CHECKSUM(NEWID())) % LEN(@AllChars) + 1;
DECLARE @RandomChar VARCHAR(1) = SUBSTRING(@AllChars, @RandomPos, 1);

SELECT 
    @AllChars AS AvailableChars,
    LEN(@AllChars) AS TotalChars,
    @RandomPos AS ChosenPosition,
    @RandomChar AS RandomCharacter;

## Lesson 7: Building Random Strings

Combine loops with random character selection to create random strings (like passwords or tokens).

In [ ]:
-- Build a 6-character random string
DECLARE @Chars VARCHAR(62) = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
DECLARE @RandomString VARCHAR(50) = '';
DECLARE @i INT = 1;
DECLARE @Length INT = 6;

WHILE @i <= @Length
BEGIN
    -- Add one random character to our string
    SET @RandomString = @RandomString + SUBSTRING(@Chars, ABS(CHECKSUM(NEWID())) % LEN(@Chars) + 1, 1);
    SET @i = @i + 1;
END

SELECT @RandomString AS My6CharString;

-- Create multiple random strings of different lengths
DECLARE @String8 VARCHAR(50) = '';
DECLARE @String16 VARCHAR(50) = '';
DECLARE @String32 VARCHAR(50) = '';
DECLARE @Counter INT;

-- 8-character string
SET @Counter = 1;
WHILE @Counter <= 8
BEGIN
    SET @String8 = @String8 + SUBSTRING(@Chars, ABS(CHECKSUM(NEWID())) % LEN(@Chars) + 1, 1);
    SET @Counter = @Counter + 1;
END

-- 16-character string
SET @Counter = 1;
WHILE @Counter <= 16
BEGIN
    SET @String16 = @String16 + SUBSTRING(@Chars, ABS(CHECKSUM(NEWID())) % LEN(@Chars) + 1, 1);
    SET @Counter = @Counter + 1;
END

-- 32-character string (like in mobile_bearer_token_get)
SET @Counter = 1;
WHILE @Counter <= 32
BEGIN
    SET @String32 = @String32 + SUBSTRING(@Chars, ABS(CHECKSUM(NEWID())) % LEN(@Chars) + 1, 1);
    SET @Counter = @Counter + 1;
END

SELECT 
    @String8 AS Token8Chars,
    @String16 AS Token16Chars,
    @String32 AS Token32Chars;